#deleteButton {
    margin-left: 0;
    margin-right: auto;
    float: right;
}

#titleAndTags {
    margin-top: -10pt;
    margin-bottom: 10pt;
}

#titleAndTags input {
    width: 100%;
}

#audioChip {
    float: left;
    display: inline;
}

input, textarea {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

input:focus, textarea:focus {
    outline: none;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

#kopierenButton {
    width: 80px;
    font-size: 10px;
    position: fixed;
    right: 0;
    margin-right: 80px;
}

/* make canvas and audio be below each other and stretched */
#audio-element {
    margin-top: 15pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#wrapper {
    width: 100vw; /* For 100% screen width */;
    /*border: 1px solid black;*/
    overflow: hidden; /* add this to contain floated children */
}

.avatarIsReceived {
    /*border: 1px solid green;*/
    margin-top: 10px;
    float: left; /* add this */
    bottom: 0;
}

.audioIsReceived {
    width: 70vw; /* For 100% screen width */;
    float: left; /* add this */
    /*border: 1px solid red;*/
}

.avatarIsSender {
    /*border: 1px solid #f3d406;*/
    margin-top: 10px;
    float: right; /* add this */
    bottom: 0;
}

.audioIsSender {
    width: 70vw; /* For 100% screen width */;
    float: right; /* add this */
    /*border: 1px solid #002aff;*/
}

.speechBubbleSender {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

#element-id {
    display: block;
    margin-bottom: 10pt;

}