#deleteButton {
    margin-left: 0;
    margin-right: auto;
    float: right;
}

#audioTitle {
    width: 250px;
    font-size: 15px;
    margin-top: 60px;
    padding-top: 30px;

}

input:focus, textarea:focus {
    outline: none;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

#kopierenButton {
    width: 80px;
    font-size: 10px;
    position: fixed;
    right: 0;
    margin-right: 80px;
}

/* make canvas and audio be below each other and stretched */
#audio-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}


#first {
    width: 60px;
    float:left; /* add this */
    padding-bottom: 41px;
}
#second {
    width: 130px;
    float: left; /* add this */
}


#visualiserDiv {
    float: left;
    border-color: #2dd36f;
}

.audioIsSender {
    width: 70vw; /* For 100% screen width */;
    float: right; /* add this */
    /*border: 1px solid #002aff;*/
}

#element-id {
    display: block;
    margin-bottom: 10pt;
}

#humanReadableTimestamp {
    font-size: 4pt;
    color: white;
    margin-left: 95pt;
    margin-bottom: 80pt;
}

ion-col {
    height: 85px;
}

ion-grid {
    height: 70px;
}


#playPauseButton {
    padding-top: 30px;

}
