#contactAvatar {
    height: 70px;
    width: 70px;
}

#lastTimestamp {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    transform: translateX(-20%);
    font-style: italic;
}

.contactUsername {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    transform: translateX(15%);
    font-weight: bold;
}

ion-item {
    --min-height: 120px;
    min-height: 150px;
}