input[type="radio"] {
    margin-top: 15pt;
    margin-right: 5pt;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

input[type="checkbox"] {
    margin-top: 15pt;
    margin-right: 5pt;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}


#search-table ion-row {
    margin-left: 25pt;
    font-size: 13.5pt;
}


