.avatarIMG {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.avatar {
    height: 150px;
}

.center {
    text-align: center;
}


input {
    margin-top: 80px;
}

#logoutButton {
    margin-bottom: 10px;
    float: right;
    right: 0;
}

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: #0000000C;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #0000000C;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #0000000C;
}